*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 101%;
    max-height: 100%;
}

header{
    width: 100%;
}

body{
    background-color: aquamarine;
}

nav{
    width: 100%;
    height: 60px;
    background: #000;
    align-items: center;
    padding: 10px;
}

nav ul{
    list-style: none;
    position: relative;
} 

nav ul li{
    width: 150px;
    float: right;
}

nav ul li a{ 
    cursor: pointer;
}

nav a{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    color:white;
    background: #000;
}

nav ul ul{
    position: absolute;
    visibility: hidden;
}

nav ul li:hover ul{
    visibility: visible;
}

nav a:hover{
    background: rgb(165, 117, 255);
    color: #000;
}

nav ul ul li{
    float: none;
    border-bottom: 1px solid aqua;
}

nav ul ul li a{
    background-color: black;
}

label[for="bt-menu"]{
    padding: 5px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt-menu{
    display: none;
}

label[for="bt-menu"]{
    display: none;
}

h1{
    color: #fff;
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 30px;
}

#titulo{
    height: 30px;
    margin-left: 30px;
    width: 100px;
    margin-top: -9px;
    margin-bottom: 100px;
}

#titulo:hover{
    background-color: #000;
    color: white;
}

#slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgSlideshow{
    width: 70%;
    height: 850px;
}

#catalogo{
    color: #000;
    margin-top: 100px;
    font-family:"Rubik", sans-serif;
    width: 99%;
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}

#productType {
    font-size: 60px;
}

h2{
    margin: 10px;
}

select{
    margin-left: 10px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    row-gap: 46px;
    margin-bottom: 99px;
}

.productCardFlag {
    background: #360000;
    width: 40%;
    text-transform: uppercase;
}

.hide {
    background: hsl(0, 100%, 100%);
    width: 40%;
}

.productCardFlag span {
    color: hsl(0, 100%, 100%);
    font-family: "metropolislight", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 2px 12px;
}

.productCard {
    display: flex;
    flex-direction: column;
    flex: 1 25%;
    padding: 10px;
}

.productCardImage img {
    width: 100%;
    height: 300px;
}

.productInfo {
    margin-top: auto;
	padding-top: 10px;
	text-align: center;
}

.productName:hover{
    text-decoration: underline;
    cursor: pointer;
}

.productInfo h2 {
    font-family: "metropolissemi_bold", sans-serif;
    font-size: 1rem;
}

.productInfo hr {
    display: inline-block;
    border: 0 solid hsl(0, 0%, 7%);
    border-bottom-width: 1px;
    margin: 0.5em 0;
    vertical-align: middle;
    width: 20px;
}

.productInfo span {
    display: block;
    font-family: "metropolissemi_bold", sans-serif;
    font-size: 1rem;
}

.productPrice {
    display: flex;
    justify-content: center;
}

.productPrice span {
    padding-left: 10px;
}

.productPrice span:first-child {
    text-decoration: line-through;
}

button{
    padding: 12px;
    border-radius: 3px;
    border-style: double;
    border-color: black;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(119, 119, 182);
    color: black;
}

button:hover{
    background-color: lightblue;
}

footer{
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 35.95%;
}

footer h5{
    display: flex;
    justify-content: center;
}

.container {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    background-color: #fff;
  }
  h1, h2 {
    text-align: center;
    color: #000;
    width: 400px;
    
  }
